<article id="<%= post.layout %>-<%= post.slug %>" class="post">
	<footer class="entry-meta-header">
		<span class="meta-elements date">
			<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		</span>
		<span class="category">
			<%- partial('post/category') %>
		</span>
		<div class="commentscount">
			<% if (post.comments && config.disqus_shortname){ %>
				<a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
			<% } %>
		</div>
	</footer>
	<%- partial('post/gallery') %>
	<header class="entry-header">
		<%- partial('post/title', {class_name: 'article-title'}) %>
	</header>
	<div class="entry-content">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- post.content %>
    <% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags clearfix">
				<%- partial('post/tag') %>
			</span>
		</div>
		<div class="hatena-star"></div>
		<div class="share-buttons">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%- config.url %><%- config.root %><%- post.path %>" data-text="<%= post.title %> - <%= config.title %>">Tweet</a>
			<%
				var siteUrl = config.url.split('://');
				var hatebuDomain = /^https/.test(siteUrl[0]) ? 's/' + siteUrl[1] : siteUrl[1];
				var hatebuUrl = hatebuDomain + config.root + post.path;
			%>
			<a href="http://b.hatena.ne.jp/entry/<%- hatebuUrl %>" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
		</div>
	</footer>
	<% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (index){ %>
	<hr class="article-devider">
<% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
