<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width">
  <%- open_graph({twitter_card: theme.social.twitter_card, twitter_id: theme.social.twitter, twitter_site: theme.social.twitter_site,
  google_plus: theme.social.google_plus, fb_admins: theme.social.fb_admins, fb_app_id: theme.social.fb_app_id}) %>
  <% if (config.feed){ %>
    <link rel="alternate" href="/<%- config.feed.path %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <%- partial('google-analytics') %>
</head>
